build
install
.vscode
.vtune
.debug
.env
.install
tests/results
tests/reference
*.pt
*.pth
*.bin
*.gguf
*.zip
*.tar.gz
*.egg-info
__pycache__

# Don't sync Python dependencies for now, latest versions should work
uv.lock